#--------------------------------------------------------------------------------
# Directories
#--------------------------------------------------------------------------------
bin
build
.Xil
.sconsign.dblite
__pycache__
src/.vscode
src/.jenkins
src/sim/tests/data

#--------------------------------------------------------------------------------
# Files
#--------------------------------------------------------------------------------
*.tar.gz
cfg_params.svh
webtalk.*
*.log
*.jou
*.str
*.mif
*.wlf
transcript
*.fv
modelsim.ini
*.vpwhistu
*.vtg
*.vpwwildcardcache
*.swp
*.bit
*.pdi
*.rpt
#--------------------------------------------------------------------------------

